.base_news{
	width: 86%;
	height: 40px;
	border:2px;
	border-color:orange;
	margin-left: 20px;
	
	
border-bottom-color: rgb(255, 157, 0);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 0.8px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: rgb(255, 157, 0);
border-left-style: solid;
border-left-width: 0.8px;
border-right-color: rgb(255, 157, 0);
border-right-style: solid;
border-right-width: 0.8px;
border-top-color: rgb(255, 157, 0);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 0.8px;
color: rgb(102, 102, 102);
font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
font-size: 12px;
margin-bottom: 30px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-wrap: break-word;
padding-bottom: 18px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
width: 680px;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
margin-top:20px;
	
	
}



.left_one {
    border: 1px dashed #d7d7d7;
    padding-bottom: 18px;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 4px;
    position: relative;
    margin-left: 20px;
    height: 90px;
    word-wrap: break-word;
    float: right;
    font-size: 12px;
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
    color: #666;
    padding-left: 20px;
}

.left_one ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.left_one ul li {
    width: 180px;
    margin-top: 18px;
    float: left;
    display: inline;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    color: #666;
    padding-left: 5%;
    background: url(http://css.mafengwo.net/images/post/new_notes/151204sprite1.png) no-repeat;
    cursor: pointer;
}

ul, li, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left_one ul li.times {
    background-position: -22px 0;
}


.left_one ul li.day {
    background-position: -22px -22px;
}

.left_one ul li.people {
    background-position: -22px -44px;
}

.left_one ul li.cost {
    background-position: -22px -66px;
}

.left_one ul li span {
    color: #ff9d00;
    margin: 0 5px;
}



.hide_base_base{
	display: none;
}

.hide_base_news{
	display: none;
}

.base_new_hide_base{
	display: none;
}

.hides{
	display: none;
}



.flt2{
float:right;
color: orange;
floatrightfont-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
font-size: 14px;
height: 22px;
line-height: 22px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
margin-top: 18px;
overflow-wrap: break-word;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
	
}
.flt1{
float:left;
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url("http://css.mafengwo.net/images/post/new_notes/151204sprite1.png");
background-origin: padding-box;
background-position: -28px -94px;
background-position-x: -28px;
background-position-y: -94px;
background-repeat: no-repeat;
background-size: auto auto;
color: rgb(102, 102, 102);
floatleftfont-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
font-size: 14px;
height: 22px;
line-height: 22px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 0px;
margin-top: 18px;
overflow-wrap: break-word;
padding-bottom: 0px;
padding-left: 30px;
padding-right: 0px;
padding-top: 0px;
	
}


.base_new{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px;
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 315px;
    left: 508px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 1;
    overflow: visible;
    overflow-wrap: break-word;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    position: absolute;
    top: 20px;
    width: 460px;
    z-index: 999;
}

.base_one{
    width: 460px;
    margin: 0px;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    height: 30px;
}

.base_two{
    width: 460px;
    margin: 0px;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    height: 220px;
}

.base_three{
    width: 460px;
    margin: 0px;
    height: 40px;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
}

.base_info_buttons{
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 6px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 57px;
    padding-top: 0px;
    text-align:right;
}

.btn_qx{
    background-color: transparent;
    color: rgb(102, 102, 102);
    cursor: pointer;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 16px;
    margin-right: 36px;
    outline-color: rgb(102, 102, 102);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    text-alignrighttext-decoration: none;
    text-decoration-color: rgb(102, 102, 102);
    text-decoration-line: none;
    text-decoration-style: solid;

}

.btn_big{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 168, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
}

._j_exform{
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    overflow-wrap: break-word;

}

.base_info_detail{
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 25px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

}

.go_date{
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(102, 102, 102);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(102, 102, 102);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(102, 102, 102);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 32px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.dd_title{
    color: rgb(102, 102, 102);
    display: inline-block;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    width:90px;
}

#dp1491376550436{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(239, 239, 239);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(153, 153, 153);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(153, 153, 153);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(153, 153, 153);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 22px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(153, 153, 153);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    position: relative;
    width: 230px;
    z-index: 551;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}
.hasDatepicker{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(239, 239, 239);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(153, 153, 153);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(153, 153, 153);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(153, 153, 153);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 22px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(153, 153, 153);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    position: relative;
    width: 230px;
    z-index: 551;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}
._j_dateinput {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(239, 239, 239);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(153, 153, 153);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(153, 153, 153);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(153, 153, 153);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 22px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(153, 153, 153);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    position: relative;
    width: 230px;
    z-index: 551;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.time {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("http://css.mafengwo.net/images/post/new_notes/151204sprite1.png");
    background-origin: padding-box;
    background-position: 0px -88px;
    background-position-x: 0px;
    background-position-y: -88px;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: rgb(255, 157, 0);
    cursor: pointer;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 16px;
    line-height: 22px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    outline-color: rgb(255, 157, 0);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-decoration-color: rgb(255, 157, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    top: 8px;
    width: 16px;

}

.go_days{
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(102, 102, 102);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(102, 102, 102);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(102, 102, 102);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 32px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.dd_title{
    color: rgb(102, 102, 102);
    display: inline-block;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    width:90px;
}

.dd_select{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(239, 239, 239);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(239, 239, 239);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(239, 239, 239);
    border-left-style: solid;
    border-left-width: 0.8px;
    border-right-color: rgb(239, 239, 239);
    border-right-style: solid;
    border-right-width: 0.8px;
    border-top-color: rgb(239, 239, 239);
    border-top-style: solid;
    border-top-width: 0.8px;
    color: rgb(102, 102, 102);
    display: inline-block;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 30px;
    line-height: 22px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    width: 278px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.go_figure{

}

.dd_select{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(239, 239, 239);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(239, 239, 239);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(239, 239, 239);
    border-left-style: solid;
    border-left-width: 0.8px;
    border-right-color: rgb(239, 239, 239);
    border-right-style: solid;
    border-right-width: 0.8px;
    border-top-color: rgb(239, 239, 239);
    border-top-style: solid;
    border-top-width: 0.8px;
    color: rgb(102, 102, 102);
    display: inline-block;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 30px;
    line-height: 22px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    width: 278px;
: css+jquery-ui-1.8.18.custom:css+new_notes+new_notes:css+new_notes+schedule_info:css+new_notes+step:css+new_notes+sideview:css+new_notes+notes_comments:css+mfw_comment%5EYlNV%5E1488767901.css:1;
: .dd_select208px;
: css+jquery-ui-1.8.18.custom:css+new_notes+new_notes:css+new_notes+schedule_info:css+new_notes+step:css+new_notes+sideview:css+new_notes+notes_comments:css+mfw_comment%5EYlNV%5E1488767901.css:1;
: .dd_select208px;
: css+jquery-ui-1.8.18.custom:css+new_notes+new_notes:css+new_notes+schedule_info:css+new_notes+step:css+new_notes+sideview:css+new_notes+notes_comments:css+mfw_comment%5EYlNV%5E1488767901.css:1;
: .dd_select278px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.base_info_error{
    color: rgb(255, 0, 0);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -14px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

}

.dd_unit{
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 14px;
    line-height: 28px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    padding-left: 8px;

}

.go_money{
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(102, 102, 102);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(102, 102, 102);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(102, 102, 102);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 32px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}
.dd_select{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(239, 239, 239);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(239, 239, 239);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(239, 239, 239);
    border-left-style: solid;
    border-left-width: 0.8px;
    border-right-color: rgb(239, 239, 239);
    border-right-style: solid;
    border-right-width: 0.8px;
    border-top-color: rgb(239, 239, 239);
    border-top-style: solid;
    border-top-width: 0.8px;
    color: rgb(102, 102, 102);
    display: inline-block;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 30px;
    line-height: 22px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    width: 278px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}
.dd_title{
    color: rgb(102, 102, 102);
    display: inline-block;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    width:90px;
}


.go_figure{
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(102, 102, 102);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(102, 102, 102);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(102, 102, 102);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    height: 32px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 10;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.dd_title{
    color: rgb(102, 102, 102);
    display: inline-block;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    width: 90px;

}

.expense{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(239, 239, 239);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(153, 153, 153);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(153, 153, 153);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(153, 153, 153);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 22px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(153, 153, 153);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    width: 230px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.dayscount{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(239, 239, 239);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(153, 153, 153);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(153, 153, 153);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(153, 153, 153);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 22px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(153, 153, 153);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 4px;
    padding-left: 10px;
: css+jquery-ui-1.8.18.custom:css+new_notes+new_notes:css+new_notes+schedule_info:css+new_notes+step:css+new_notes+sideview:css+new_notes+notes_comments:css+mfw_comment%5EYlNV%5E1488767901.css:1;
: .dd_select input10px;
: css+jquery-ui-1.8.18.custom:css+new_notes+new_notes:css+new_notes+schedule_info:css+new_notes+step:css+new_notes+sideview:css+new_notes+notes_comments:css+mfw_comment%5EYlNV%5E1488767901.css:1;
: .dd_select input10px;
: forms.css:85;
: input1px;
    padding-right: 10px;
    padding-top: 4px;
    width: 230px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.send_peo{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("http://css.mafengwo.net/images/post/new_notes/151204sprite1.png");
    background-origin: padding-box;
    background-position: 0px -44px;
    background-position-x: 0px;
    background-position-y: -44px;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: -32px;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    position: absolute;
    top: 5px;
    width: 22px;

}

.down_con{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(255, 157, 0);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(255, 157, 0);
    border-left-style: solid;
    border-left-width: 0.8px;
    border-right-color: rgb(255, 157, 0);
    border-right-style: solid;
    border-right-width: 0.8px;
    border-top-color: rgb(102, 102, 102);
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgb(255, 198, 90) 0px 0px 3px 0px;
    color: rgb(102, 102, 102);
    display: none;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 12px;
    left: -1px;
    line-height: 22px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    right: -1px;
    top: 31px;
    z-index: 10;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.hidn_news{
    display: none;
}

.send_cost{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("http://css.mafengwo.net/images/post/new_notes/151204sprite1.png");
    background-origin: padding-box;
    background-position: 0px -66px;
    background-position-x: 0px;
    background-position-y: -66px;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: -32px;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    position: absolute;
    top: 5px;
    width: 22px;

}
.send_num{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("http://css.mafengwo.net/images/post/new_notes/151204sprite1.png");
    background-origin: padding-box;
    background-position: 0px -22px;
    background-position-x: 0px;
    background-position-y: -22px;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: -32px;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    position: absolute;
    top: 5px;
    width: 22px;

}

.send_date{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("http://css.mafengwo.net/images/post/new_notes/151204sprite1.png");
    background-origin: padding-box;
    background-position: 0px 0px;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: -32px;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    position: absolute;
    top: 5px;
    width: 22px;

}

._j_personinput{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(239, 239, 239);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(153, 153, 153);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(153, 153, 153);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(153, 153, 153);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    height: 22px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(153, 153, 153);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 4px;
    padding-left: 10px;
: css+jquery-ui-1.8.18.custom:css+new_notes+new_notes:css+new_notes+schedule_info:css+new_notes+step:css+new_notes+sideview:css+new_notes+notes_comments:css+mfw_comment%5EYlNV%5E1488767901.css:1;
: .dd_select input10px;
: css+jquery-ui-1.8.18.custom:css+new_notes+new_notes:css+new_notes+schedule_info:css+new_notes+step:css+new_notes+sideview:css+new_notes+notes_comments:css+mfw_comment%5EYlNV%5E1488767901.css:1;
: .dd_select input10px;
: forms.css:85;
: input1px;
    padding-right: 10px;
    padding-top: 4px;
    width: 230px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

}

.dd_unit{
    color: rgb(102, 102, 102);
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    font-size: 14px;
    line-height: 28px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    padding-left: 8px;

}
