* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 12px;
	font-family: Arial, "Lucida Grande", "Microsoft Yahei",
		"Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC",
		STHeiti;
	_font-family: Tahoma, Arial, Helvetica, STHeiti;
	color: #666;
}

body, p, div {
	word-wrap: break-word;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
	list-style: none;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: #ff9d00;
	cursor: pointer;
}

.header {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	position: fixed;
	z-index: 999;
	border-bottom: 2px solid #eee;
}

.header iframe {
	z-index: 999;
	width: 100%;
	height: 300px;
}

.footer {
	clear: both;
	height: 480px;
}

.footer iframe {
	width: 100%;
	height: 480px;
}

#focus {
	height: 550px;
	width: 100%;
}

#wrapper {
	background-image: url("../syste_img/index/101010.jpg");
	width: 100%;
	height: 100%;
}

#wrapper .show-title.dark {
	text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
	position: relative;
	top: -20px;
	left: 0px;
}

#wrapper .des {
	height: 100px;
	width: 300px;
	float: left;
	overflow: hidden;
	position: relative;
	left: 180px;
	top: 90px;
}

#wrapper .des li {
	height: 100px;
	width: 300px;
}

#wrapper .des2 {
	height: 20px;
	width: 600px;
	float: left;
	overflow: hidden;
	position: relative;
	left: 350px;
	top: 508px;
}

#wrapper .des2 li {
	height: 21px;
	width: 600px;
}

#wrapper .show-title {
	position: absolute;
	top: 25px;
	left: 50%;
	margin-left: -500px;
	color: #fff;
	font-size: 26px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	text-align: left;
}

#wrapper .show-title .date {
	position: relative;
	width: 180px;
	font-size: 24px;
	overflow: hidden;
}

#wrapper .show-title  h3 {
	font-size: 20px;
	font-weight: normal;
}

#wrapper .show-info {
	position: relative;
	width:600px;
	left: 300px;
	margin-left: -300px;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
	text-align: left;
}

#small {
	position: relative;
	float: right;
	top: 90px;
	/* z-index:10; */
}

#small .littleImg li {
	list-style: none;
	width: 108px;
	height: 67px;
	margin-right: 40px;
	margin-bottom: 7px;
}

.show-more {
	position: absolute;
	/* z-index: 2; */
	right: 32px;
	top: 200px;
	margin-top: 175px;
	width: 120px;
	height: 45px;
	line-height: 200px;
	background-image: url("../syste_img/index/101013.png")  ;
	background-position: -50px -45px !important;
	overflow: hidden;
}

/*-----------------------------------*/
.search-container {
	position: relative;
    bottom: 150px;
	left: 50%;
	margin-left: -320px;
	width: 632px;
	/* z-index: 5; */
}

.search-group {
	padding: 15px;
	background-color: #000;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 4px;
}

.searchtab {
	margin-bottom: 7px;
	color: #fff;
	line-height: 26px;
	font-size: 14px;
}

.searchtab li {
	float: left;
	display: inline;
	margin-right: 30px;
	cursor: pointer;
}

.searchtab .tab-selected i {
	background-position: -60px -140px !important;
}

.searchtab i {
	float: left;
	margin: 5px 5px 0 0;
	width: 16px;
	height: 16px;
	background-image: url("../syste_img/index/101015.png");
	background-position: -60px -110px !important;
}

.searchbar {
	height: 46px;
	width: 596px;
	overflow: hidden;
	position: relative;
	left: 0px;
	top: 5px;
}

.search-wrapper {
	float: left;
	width: 546px;
}

.search-group .search-input {
	height: 46px;
	overflow: hidden;
}

.search-group .search-input input {
	width: 500px;
	height: 46px;
	border: 0 none;
	padding: 0 21px;
	margin: 0;
	line-height: 46px;
	font-size: 16px;
	color: #666;
	border-radius: 4px;
}

.search-group .search-button {
	float: left;
	margin-left: 6px;
	width: 50px;
	height: 46px;
	position: relative;
	left: 540px;
	top: -46px;
}

.search-group .search-button a {
	display: block;
	height: 46px;
	background-color: #ff9d00;
	border-radius: 4px;
	text-align: center;
}

.search-group .icon-search {
	display: inline-block;
	margin-top: 11px;
	width: 24px;
	height: 24px;
	background-image: url("../syste_img/index/101013.png");
	background-position: -54px -127px !important;
	overflow: hidden;
	vertical-align: top;
}

.search-group .search-date {
	float: left;
	margin-left: 3px;
	width: 140px;
	height: 46px;
	background-color: #fff;
	font-size: 14px;
	color: #444;
	line-height: 46px;
	position: relative;
	cursor: pointer;
}

.search-group .search-date input {
	width: 120px;
	border: 0;
	margin: 0;
	padding: 0 10px;
	background-color: #fff;
	line-height: 46px;
	font-size: 14px;
	color: #444;
}

.search-group .search-date span {
	display: block;
	padding: 0 10px;
}

.search-group .icon-cal {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 16px;
	height: 16px;
	background-image: url("../syste_img/index/icon3.png");
	background-position: 0 -140px !important;
	overflow: hidden;
}

.hide {
	display: none;
}



.search-suggest-panel {
	position: absolute;
	/* z-index: 100; */
	min-width: 398px;
	margin-top: 6px;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
}

/*-------------------------------------*/
#content {
	width: 1000px;
	margin: 20px auto;
}

#c-l, #c-r {
	float: left;
	margin-bottom: 10px;
}

#c-l .title {
	height: 40px;
	width: 100%;
	line-height: 40px;
}

#c-l .title span {
	color: #ff9d00;
}

#c-l h2 {
	float: left;
	font-size: 18px;
	color: #333;
	font-weight: normal;
}

#c-l p {
	float: right;
	color: #999;
}

#c-l-2 {
	width: 260px;
	height: 280px;
}

#c-l-2 #little-wrapper {
	/*margin-top: 35px;*/
	width: 260px;
	height: 246px;
	overflow: hidden;
	position: relative;
	clear: both;
}

#c-l-2 #little-wrapper ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 500%;
	height: 246px;
}

#c-l-2 #little-wrapper ul li {
	float: left;
	width: 20%;
	padding-left: 0px;
}

#c-l-2 #little-wrapper ul li img {
	width: 260px;
	height: 140px;
	overflow: hidden;
}

#c-l-2 #little-wrapper ul li p {
	margin: 5px 0px;
	color: grey;
}

#c-l-2 #little-wrapper ul li span {
	font-size: 15px;
	display: block;
	padding: 5px 0px;
	color: black;
}

#c-l-2 #little-wrapper ol {
	position: absolute;
	right: 7px;
	top: 125px;
}

#c-l-2 #little-wrapper ol li {
	float: left;
	display: inline;
	margin-left: 3px;
	width: 15px;
	height: 8px;
	background-color: #fff;
	border-radius: 4px;
	cursor: pointer;
	overflow: hidden;
}

#c-l-2 #little-wrapper li {
	float: left;
	width: 20%;
	height: 100%;
}

#c-l-3 {
	width: 260px;
	height: auto;
}

#c-l-31 {
	float: left;
}

#c-l-32 {
	float: left;
	padding-left: 10px;
}

#c-l-33 {
	clear: both;
	padding: 15px 0px 10px 0px;
}

#c-l-33 span {
	color: #ff9d00;
	font-size: 14px;
}

#c-l-5 {
	width: 260px;
	height: auto;
}

#c-l-5 a {
	display: block;
	margin-bottom: 5px;
	padding: 5px;
	height: 40px;
	color: #666;
	line-height: 20px;
}

#c-l-5 a img {
	float: left;
	margin-right: 8px;
}

#c-l-5 a strong {
	font-size: 14px;
	font-weight: normal;
	color: #ff9d00;
}

#c-l-7 #found li {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666;
}

#c-l-7 #found li i {
	margin-left: 6px;
	font-size: 10px;
	font-style: normal;
	color: #d0122b;
	background: url("../syste_img/img/index-img/icon4.png") 0 -27px no-repeat;
	padding-left: 8px;
}

#c-l-7 #found li span {
	float: right;
	font-size: 12px;
	color: #999;
}

#c-l-8 #title {
	height: 35px;
	line-height: 35px;
	margin-bottom: 12px;
}

#c-l-8 .newest li {
	height: 30px;
	width: 260px;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
}

#c-l-8 .newest li a {
	margin-left: 5px;
	color: #666;
}

/*---------------------------*/
#c-r {
	float: right;
	width: 700px;
}

#c-r-1 {
	margin-bottom: 30px;
	position: relative;
}

.oneBuy {
	margin-bottom: 230px;
}

.oneBuy .hd {
	margin-bottom: 15px;
	font-size: 18px;
	color: #333;
	line-height: 26px;
	position: relative;
}

.oneBuy .hd a {
	font-size: 18px;
	color: #333;
}

.oneBuy .rBtn {
	position: absolute;
	right: 0;
	top: 0;
}

.oneBuy .rBtn a {
	margin-left: 35px;
	font-size: 14px;
	color: #666;
}

.oneBuy .pro_pic {
	width: 280px;
	height: 177px;
	float: left;
	position: relative;
}

.oneBuy .pro_pic .nums {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .2) url("../syste_img/img/index-img/onebuy2.png")
	no-repeat;
	text-align: center;
	color: #fff;
}

.oneBuy .joins {
	width: 100px;
	height: 40px;
	display: inline-block;
	text-align: center;
	font-size: 30px;
	padding-top: 53px;
}

.oneBuy .joins b {
	width: 20px;
	height: 40px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	line-height: 40px;
}

.oneBuy .joins b span {
	width: 20px;
	height: 360px;
	position: absolute;
	display: inline-block;
	text-align: center;
	left: 0;
	top: 0;
}

.oneBuy .joins i {
	font-style: normal;
	width: 20px;
	display: inline-block;
}

.oneBuy .text {
	font-size: 14px;
	text-align: center;
	margin-top: -8px;
}

.oneBuy .feeds {
	background: rgba(0, 0, 0, .25);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 34px;
	overflow: hidden;
	padding: 0 11px;
	transition: max-height .5s linear;
	-webkit-transition: max-height .5s linear;
}

.oneBuy .feeds li {
	line-height: 34px;
	font-size: 12px;
	color: #fff;
	padding-left: 6px;
	position: relative;
}

.oneBuy .feeds span {
	color: #ff8a00;
	margin-right: 10px;
}

.oneBuy .pro_detail {
	width: 353px;
	height: 158px;
	padding: 18px 30px 0 35px;
	border: 2px solid #e9e9e9;
	border-left: none;
	float: left;
	text-align: right;
	position: relative;
}

.oneBuy .pro_detail h2 {
	font-size: 20px;
	font-size: 20px;
	font-weight: normal;
	white-space: nowrap;
}

.oneBuy .pro_detail h2 a {
	font-size: 20px;
	color: #666;
}

.oneBuy .pro_detail h2 .tag {
	font-size: 14px;
	line-height: 20px;
	border: 1px solid #999;
	border-radius: 3px;
	vertical-align: 2px;
	margin-right: 5px;
	padding: 0 2px;
}

.oneBuy .pro_detail .subtit {
	font-size: 14px;
	padding: 18px 0 12px;
}

.oneBuy .pro_detail .money {
	display: inline-block;
	height: 38px;
}

.oneBuy .con_btn .txt {
	float: left;
	height: 36px;
	border: 1px solid #fa635a;
	border-radius: 5px 0 0 5px;
	overflow: hidden;
	border-right: 0;
	padding: 0 15px;
	background-color: #fff;
	line-height: 36px;
	font-size: 12px;
	color: #999;
}

.oneBuy .con_btn i {
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url("../syste_img/img/index-img/guanggao.png") 0 -180px no-repeat;
	margin: 0 3px 2px 0;
	vertical-align: middle;
}

.oneBuy .con_btn .txt em {
	font-size: 14px;
	color: #ff6155;
	font-style: normal;
}

.oneBuy .con_btn .price {
	font-size: 20px;
	color: #ff6155;
	vertical-align: top;
}

.oneBuy .con_btn .btn {
	float: left;
	width: 136px;
	font-size: 18px;
	color: #fff;
	line-height: 38px;
	background-color: #fa635a;
	text-align: center;
	border-radius: 0 5px 5px 0;
}

.oneBuy .f-infos {
	padding: 10px 0 6px;
}

.oneBuy .f-infos .fore1 {
	width: 100px;
	float: left;
	text-align: left;
}

.oneBuy .f-infos strong {
	color: #ff6155;
	font-weight: normal;
}

.oneBuy .f-infos .fore3 {
	width: 100px;
	float: right;
	text-align: right;
}

.oneBuy .f-bar {
	height: 6px;
	border-radius: 3px;
	background-color: #e9e9e9;
	overflow: hidden;
}

.oneBuy .f-bar .f-bar-red {
	height: 6px;
	background-color: #ff6155;
	width: 0;
}

/*-------------------------------*/
.navbar {
	margin-bottom: 20px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e4e4e4;
}

.tn-nav {
	float: left;
}

.tn-nav .showtravel{
	width:72px;
	height:20px;
}

.tn-nav .active {
	padding-bottom: 6px;
	border-bottom: 3px solid #ff9d00;
	/* z-index: 21; */
}

.tn-nav .active a {
	color: #ff9d00;
}

.tn-nav .active i {
	display: inline-block;
}

.tn-menu {
	display: inline-block;
	margin-left: 7px;
	line-height: 20px;
	border: 1px solid #e5e5e5;
	color: #666;
	font-size: 12px;
	padding: 0 10px 0 8px;
	cursor: pointer;
	vertical-align: 2px;
	height: 22px;
	width: 45px;
}

.tn-menu-icon {
	display: inline-block;
	float: left;
	margin: 6px 5px 0 0;
	width: 11px;
	height: 8px;
	background: url("../syste_img/img/index-img/icon1.png") no-repeat;
	background-position: 0 -130px;
}

.tn-nav li {
	float: left;
	width: 200px;
	display: inline;
	text-align: center;
}

.tn-nav li a {
	color: #333;
	font-size: 18px;
}

.tn-write {
	float: right;
	width: 140px;
}

.tn-write .btn-add {
	display: block;
	height: 36px;
	background-color: #ff9d00;
	color: #fff;
	text-align: center;
	border-radius: 4px;
}

.tn-write .btn-add i {
	display: inline-block;
	margin-right: 5px;
	width: 18px;
	height: 17px;
	background-position: 0 0;
	overflow: hidden;
	vertical-align: -3px;
}

.tn-tips {
	float: right;
	margin-right: 20px;
	font-size: 12px;
}

.tn-tips i {
	float: left;
	margin: 9px 4px 0 0;
	width: 16px;
	height: 16px;
	background: url("../syste_img/img/index-img/icon1.png") no-repeat;
	background-position: -100px -30px !important;
	overflow: hidden;
}

.tn-dropdown-pop {
	position: absolute;
	z-index: 10;
	margin: -21px 0 0 -20px;
	width: 718px;
	padding: 2px 0;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
}

.tn-dropdown-pop .close {
	font-family: serif, verdana, Arial, "Lucida Grande", "Microsoft Yahei",
	"Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 6px;
	top: 6px;
	line-height: 14px;
	border: 1px solid #e8e8e8;
	color: #ccc;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	background: #fff;
	/* z-index: 6; */
	transition: 1s ease-in-out 0s;
	-webkit-transition: 1s ease-in-out 0s;
	-moz-transition: 1s ease-in-out 0s;
	-o-transition: 1s ease-in-out 0s;
}

.tn-dropdown-pop .section {
	margin: 40px 30px;
}

.tn-dropdown-pop .label {
	float: left;
	width: 56px;
	text-align: right;
	font-size: 16px;
	color: #333;
	line-height: 24px;
}

.mui-search {
	width: 400px;
	position: relative;
	margin-bottom: 15px;
}

.mui-search-inp {
	width: 348px;
	padding: 0 35px 0 15px;
	border: 1px solid #efefef;
	background-color: #efefef;
	height: 38px;
	border-radius: 4px;
	line-height: 38px;
	font-size: 14px;
	vertical-align: top;
}

.tn-search-suggest {
	width: 398px;
	padding: 10px 0;
}

.tn-dropdown-pop .hot-place {
	font-size: 14px;
}

.tn-dropdown-pop .hot-place a {
	display: inline-block;
	margin-right: 10px;
	color: #666;
}

.tn-dropdown-pop .section+.section {
	margin-bottom: 20px;
}

.tn-dropdown-pop .section-cont {
	margin-left: 86px;
}

.tn-dropdown-pop .interest-list {
	margin: 0 -10px -20px 0;
}

.tn-dropdown-pop .interest-list li {
	float: left;
	width: 260px;
	height: 75px;
	margin: 0 30px 20px 0;
	display: inline;
}

.tn-dropdown-pop .interest-list a {
	display: block;
	height: 75px;
	overflow: hidden;
	color: #333;
}

.tn-dropdown-pop .interest-list .img {
	float: left;
	width: 110px;
	height: 75px;
	margin-right: 12px;
	overflow: hidden;
	position: relative;
}

.tn-dropdown-pop .interest-list h3 {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: normal;
}

.tn-dropdown-pop .interest-list p {
	height: 40px;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
	color: #999;
}

.tn-selected {
	margin: -10px 0 5px;
}

.tn-item {
	padding: 15px 0;
	height: 150px;
}

.tn-image {
	float: left;
	width: 220px;
	height: 150px;
	position: relative;
}

.tn-image img {
	width: 220px;
	height: 150px;
}

.tn-wrapper {
	float: right;
	width: 455px;
	height: 150px;
}

.tn-item dl {
	height: 117px;
}

.tn-item dt {
	height: 26px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 26px;
}

.tn-item dt a {
	width: 420px;
	height: 26px;
	display: block;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tn-item dd {
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
}

.tn-item dd a {
	color: #666;
}

.tn-extra {
	height: 33px;
	overflow: hidden;
	line-height: 33px;
}

.tn-extra span {
	float: left;
}

.tn-extra .tn-ding {
	float: right;
	color: #ff9d00;
	font-size: 14px;
	text-align: right;
}

.tn-extra .tn-ding em {
	font-style: normal;
}

.tn-extra .tn-place {
	margin-right: 5px;
}

.tn-extra .tn-place i {
	float: left;
	margin: 8px 5px 0 0;
	width: 14px;
	height: 16px;
	background-position: 0 -50px !important;
	overflow: hidden;
	background: url("../syste_img/img/index-img/icon1.png");
}

.tn-extra .tn-place a {
	color: #666;
	float: left;
}

.tn-extra .tn-user {
	margin-right: 10px;
}

.tn-extra .tn-nums {
	font-size: 14px;
	color: #999;
}

.tn-extra .tn-nums i {
	float: left;
	margin: 10px 5px 0 0;
	width: 18px;
	height: 14px;
	background-position: -30px -50px !important;
	background: url("../syste_img/img/index-img/icon1.png");
}

.tn-extra .btn-ding {
	display: inline-block;
	float: right;
	margin-left: 8px;
	width: 38px;
	height: 33px;
	background-position: -60px 0 !important;
	overflow: hidden;
	background: url("../syste_img/img/index-img/icon1.png");
}

.tn-item {
	padding: 15px 0;
	height: 150px;
}

.tn-image {
	float: left;
	width: 220px;
	height: 150px;
	position: relative;
}

.tn-image img {
	width: 220px;
	height: 150px;
}

.tn-wrapper {
	float: right;
	width: 455px;
	height: 150px;
}

/*------------------------------*/
.tn-dropdown-pop {
	position: absolute;
	/* z-index: 10; */
	margin: -21px 0 0 -20px;
	width: 718px;
	padding: 2px 0;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
}

.tn-dropdown-pop .close {
	font-family: serif, verdana, Arial, "Lucida Grande", "Microsoft Yahei",
	"Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 6px;
	top: 6px;
	line-height: 14px;
	border: 1px solid #e8e8e8;
	color: #ccc;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	background: #fff;
	/* z-index: 6; */
	transition: 1s ease-in-out 0s;
	-webkit-transition: 1s ease-in-out 0s;
	-moz-transition: 1s ease-in-out 0s;
	-o-transition: 1s ease-in-out 0s;
}

.tn-dropdown-pop .section {
	margin: 40px 30px;
}

.tn-dropdown-pop .label {
	float: left;
	width: 56px;
	text-align: right;
	font-size: 16px;
	color: #333;
	line-height: 24px;
}

.tn-dropdown-pop .section-cont {
	margin-left: 86px;
}

.mui-search {
	width: 400px;
	position: relative;
	margin-bottom: 15px;
}

.mui-search-inp {
	width: 348px;
	padding: 0 35px 0 15px;
	border: 1px solid #efefef;
	background-color: #efefef;
	height: 38px;
	border-radius: 4px;
	line-height: 38px;
	font-size: 14px;
	vertical-align: top;
}

.tn-search-suggest {
	width: 398px;
	padding: 10px 0;
}

.tn-dropdown-pop .hot-place {
	font-size: 14px;
}

.tn-dropdown-pop .hot-place a {
	display: inline-block;
	margin-right: 10px;
	color: #666;
}

.tn-dropdown-pop .section+.section {
	margin-bottom: 20px;
}

.tn-dropdown-pop .interest-list {
	margin: 0 -10px -20px 0;
}

.tn-dropdown-pop .interest-list li {
	float: left;
	width: 260px;
	height: 75px;
	margin: 0 30px 20px 0;
	display: inline;
}

.tn-dropdown-pop .interest-list a {
	display: block;
	height: 75px;
	overflow: hidden;
	color: #333;
}

.tn-dropdown-pop .interest-list .img {
	float: left;
	width: 110px;
	height: 75px;
	margin-right: 12px;
	overflow: hidden;
	position: relative;
}

.tn-dropdown-pop .interest-list h3 {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: normal;
}

.tn-dropdown-pop .interest-list p {
	height: 40px;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
	color: #999;
}

.tn-selected {
	margin: -10px 0 5px;
}

/*----------------------------*/
.tn-item {
	padding: 15px 0;
	height: 150px;
}

.tn-image {
	float: left;
	width: 220px;
	height: 150px;
	position: relative;
}

.tn-image img {
	width: 220px;
	height: 150px;
}

.tn-wrapper {
	float: right;
	width: 455px;
	height: 150px;
}

#c-r-last {
	clear: both;
	width: 1000px;
	margin: 10px auto;
}

#c-r-last img {
	border: 0;
	vertical-align: middle;
	overflow: hidden;
}

/*------------------分页--------------------*/
.m-pagination {
	padding-right: 0;
	padding: 20px 5px;
	line-height: 24px;
	text-align: right;
	font-size: 12px;
	color: #999;
}

.m-pagination .pg-current {
	padding: 7px;
	border-radius: 5px;
}

.m-pagination .count {
	padding-right: 12px;
}

.m-pagination .pg-first, .m-pagination .pg-prev, .m-pagination .pg-next,
.m-pagination .pg-last, .m-pagination .pg-current {
	background-color: #ff9d00;
}

.m-pagination .pi {
	display: inline-block;
	margin-right: 1px;
	margin-left: 1px;
	padding: 0 7px;
	border: 0 none;
	background: 0;
	border-radius: 4px;
	color: #666;
	vertical-align: middle;
}

.m-pagination .pg-first, .m-pagination .pg-prev, .m-pagination .pg-next,
.m-pagination .pg-last {
	margin-right: 3px;
	background-color: #ff9d00;
	padding: 5px;
	border-radius: 4px;
	color: #fff;
	vertical-align: middle;
}


.page{
	margin: auto 4px auto 4px;
}

.a_font{
	color: white;
}


