body {
    font-size: 12px;
    _font-family: Tahoma, Arial, Helvetica, STHeiti;
    color: #666
}

input, select, textarea, button {
    _font-family: Tahoma, Arial, Helvetica, STHeiti
}

body, p, div {
    margin: 0;
    padding: 0;
    word-wrap: break-word
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 100%
}

ul, ol, li, dl, dd, dt {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    color: #ff9d00;
    text-decoration: none;
    cursor: pointer
}

a:hover {
    color: #ff8a00;
    text-decoration: underline
}

td {
    font-size: 12px;
    color: #666
}

img {
    border: 0;
    vertical-align: middle
}

input {
    outline: 0
}

.line20 {
    line-height: 20px
}

.tdcenter {
    text-align: center
}

.hide {
    display: none
}

.clearbg {
    background: 0
}

.clear {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden
}

.clearfix:after, .wrapper:after, .article:after {
    content: '\20';
    clear: both;
    display: block
}

.clearfix, .wrapper, .article {
    *zoom: 1
}









.m_l_10 {
    margin-left: 10px
}


.user_pp16 {
    width: 16px;
    height: 16px;
    border: 1px solid #bebebe;
    padding: 1px
}


.block-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: #fff \9;
    filter: alpha(opacity=90)
}

.focus_highlight {
    transition: background .3s ease-in-out 0s;
    -webkit-transition: background .3s ease-in-out 0s;
    -moz-transition: background .3s ease-in-out 0s;
    -o-transition: background .3s ease-in-out 0s
}

.focus_highlight:focus {
    border-color: #ffc65a;
    box-shadow: 0 0 3px #ffc65a;
    background-color: #FFF
}

.overflow_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}



.clearit {
    clear: both;
    height: 0;
    overflow: hidden
}

.hide {
    display: none
}



.tips_yellow {
    padding: 10px 20px;
    background: #ffd;
    border: 1px solid #f8f2bd;
    margin: 10px -5px 5px;
    text-align: left;
    _width: 90%;
    _margin: 0 auto;
    color: red
}



.textarea_miniWeng {
    width: 226px;
    height: 33px;
    border: 1px solid #CCC;
    font-size: 12px;
    color: #9d5314;
    margin-top: 3px
}


.icon16_weibo, .icon16_qzone, .icon16_renren, .icon16_qqt {
    display: inline-block;
    margin-left: 3px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: -3px;
    *vertical-align: middle
}
















#innerTagName a.del {
    width: 13px;
    height: 16px;
    display: inline-block;
    line-height: 100px;
    overflow: hidden
}



.autoSelected {
    background-color: #ffaa48;
    text-decoration: none
}

.share_Menu {
    clear: both;
    width: 65px;
    padding: 5px 8px 8px;
    position: absolute;
    right: 8px;
    top: 28px;
    background-color: #ffecaa
}


.layer_weibo {
    position: fixed;
    top: 0;
    left: 50%;
    width: 980px;
    height: 0;
    margin-left: -490px;
    z-index: 888
}



.wb_pop_close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    color: #bbb;
    font-weight: bold;
    display: block;
    line-height: 100px;
    overflow: hidden
}



.onekeytipfade {
    position: absolute;
    background-color: #aaa
}








div.ie6 {
    position: absolute
}





.viewer-layer {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    background: #333 \9;
    filter: alpha(opacity=60);
    opacity: .6;
    visibility: visible;
    _visibility: hidden
}

.add_addr {
    padding: 30px 0 50px 20px;
    color: #ff8a00;
    font-size: 14px
}


.pop_no_margin {
    margin: 0 !important;
    width: auto
}






.highlight {
    color: #ff9d00 !important
}

.hide {
    display: none
}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    content: '';
    clear: both;
    height: 0;
    display: block;
    overflow: hidden
}

.mfw-header {
    height: 68px;
    background-color: #fff;
    position: relative;
    z-index: 90
}

.header-wrap {
    width: 1000px;
    height: 68px;
    margin: 0 auto;
    _overflow: hidden;
    position: relative;
    z-index: 2
}

.mfw-header .shadow {
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 2px;
    border-top: 1px solid #d6d6d6;
    background-color: rgba(0, 0, 0, .06);
    overflow: hidden
}

.mfw-header .dropdown-group {
    width: 100%;
    position: relative;
    height: 0;
    margin: 0 auto
}

.mfw-header .dropdown-group .dropdown-menu {
    right: 50%;
    margin-right: -500px
}

.mfw-header.s-head {
    min-width: 1000px;
    height: auto;
    background-color: #3c3c3c;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100
}

.mfw-header.s-head .wid {
    padding: 15px 40px 15px 0;
    width: auto;
    height: 36px
}

.mfw-header.s-head .head-logo {
    float: left;
    padding: 6px 21px;
    width: auto;
    height: 24px;
    text-align: center
}

.mfw-header.s-head .head-logo .mfw-logo {
    display: block;
    width: 82px;
    height: 24px;
    background-size: 82px
}

.mfw-header.s-head .search-container {
    position: relative;
    left: 0;
    bottom: 0;
    float: left;
    margin-left: 0;
    width: 600px
}

.mfw-header.s-head .searchtab {
    display: none
}

.mfw-header.s-head .search-group {
    padding: 0;
    background-color: #3c3c3c
}

.mfw-header.s-head .search-group .search-input input {
    width: 526px
}

.mfw-header.s-head .search-wrapper {
    width: 556px
}

.mfw-header.s-head .login-info {
    margin-top: -15px
}

.mfw-header.s-head .login-info a {
    color: #fff
}

.mfw-header.s-head .head-daka {
    padding-top: 23px
}

.mfw-header.s-head .head-msg {
    line-height: 66px
}

.mfw-header.s-head .head-msg-new {
    right: 0;
    top: 11px
}

.mfw-header.s-head .drop-trigger {
    height: 66px
}

.mfw-header.s-head .drop-trigger .icon-msg {
    display: none
}

.mfw-header.s-head .drop-trigger .icon-caret-down {
    top: 32px
}

.mfw-header.s-head .drop-trigger .icon-caret-down {
    border-top-color: #fff
}

.mfw-header.s-head .head-msg .drop-trigger {
    padding-left: 0
}

.mfw-header.s-head .head-user .user-image {
    margin-top: 15px
}

.mfw-header.s-head .dropdown-group .dropdown-menu {
    right: 40px;
    margin-right: 0
}

.head-logo {
    float: left;
    padding: 16px 0 13px;
    width: 136px;
    height: 39px
}

.head-logo .mfw-logo {
    display: block;
    height: 39px;
}

.head-nav {
    float: left;
    display: inline;
    padding: 0 10px 0 25px;
    line-height: 68px;
    font-size: 16px;
    color: #333
}

.head-nav li {
    float: left
}

.head-nav li a {
    display: inline-block;
    padding: 0 16px;
    color: #333;
    vertical-align: top;
    overflow: hidden
}

.head-nav li a:hover, .head-nav .head-nav-hover a {
    text-decoration: none;
    color: #ff9d00;
    height: 65px;
    border-bottom: 3px solid #ff9d00
}

.head-nav .head-nav-active a {
    background-color: #ff9d00;
    color: #fff !important;
    text-decoration: none
}

.head-nav-app {
    display: none
}

.login-info {
    float: right
}

.login-info a {
    color: #666;
    font-size: 14px
}

.login-info a:hover, .login-info .drop-trigger-active {
    color: #ff9d00
}

.head-user {
    float: right
}

.drop-trigger {
    display: inline-block;
    height: 68px;
    padding-right: 13px;
    position: relative;
    cursor: pointer;
    vertical-align: top
}

.drop-trigger .icon-caret-down {
    position: absolute;
    right: 0;
    top: 32px
}

.drop-trigger:hover, .drop-trigger-active {
    color: #ff9d00
}

.drop-trigger:hover .icon-caret-down, .drop-trigger-active .icon-caret-down {
    border-top-color: #ff9d00
}

.head-user .user-image {
    float: left;
    margin-top: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff
}

.head-user a:hover .user-image, .head-user .drop-trigger-active .user-image {
    border-color: #ff9d00
}

.icon-caret-down {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 4px solid #666;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    overflow: hidden
}

.head-msg {
    float: right;
    display: inline;
    margin-right: 15px;
    line-height: 68px
}

.head-msg-new {
    position: absolute;
    z-index: 2;
    right: 30px;
    top: 16px;
    height: 16px;
    background-color: #ef523d;
    border-radius: 8px;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap
}

.head-msg a:hover {
    text-decoration: none
}

.head-msg .drop-trigger:hover .icon-msg, .head-msg .drop-trigger-active .icon-msg {
    background-position: -60px -80px
}

.head-daka {
    float: right;
    margin-right: 15px;
    padding-top: 23px;
    width: 55px;
    position: relative
}

.head-daka a {
    display: block;
    height: 20px;
    background-color: #1493e3;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
    font-size: 12px
}

.head-daka a:hover {
    text-decoration: none;
    color: #fff
}

.head-daka .btn-active {
    display: none;
    background-color: #ff9d00
}

.head-daka .btn-active:hover {
    background-color: #ff8a00
}

.head-daka.daka-complete .btn {
    display: none
}

.head-daka.daka-complete .btn-active {
    display: block
}


.head-search {
    float: left;
    width: 130px;
    height: 68px;
    position: relative
}

.head-search-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 130px;
    padding: 16px 0 15px;
    height: 36px;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    -webkit-transition: width .5s ease 0s;
    transition: width .5s ease 0s
}

.head-searchform {
    height: 36px;
    position: relative
}

.head-searchform input {
    border: 1px solid #efefef;
    background-color: #efefef;
    width: 108px;
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    -webkit-transition: width .5s ease 0s;
    transition: width .5s ease 0s
}

.head-search .icon-search {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-position: -30px -110px !important;
    overflow: hidden
}

.head-search-focus {
    width: 402px
}

.head-search-focus .head-searchform input {
    width: 380px;
    border-color: #ff9d00;
    box-shadow: 0 0 3px rgba(255, 157, 0, .5);
    background-color: #fff
}

.head-search-focus .icon-search {
    background-position: -30px -140px !important
}

.mfw-header .dropdown-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 208px;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    z-index: 10
}

.mfw-header .dropdown-menu.dropdown-sales {
    background-color: rgba(255, 255, 255, .95)
}

.mfw-header .dropdown-menu ul {
    margin-bottom: 10px
}

.mfw-header .dropdown-menu li {
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    color: #666;
    position: relative;
    vertical-align: top
}

.mfw-header .dropdown-menu li a {
    display: block;
    height: 36px;
    padding: 0 10px 0 20px;
    color: #666;
    cursor: pointer
}

.mfw-header .dropdown-menu li a:hover {
    background-color: #eee;
    color: #666;
    text-decoration: none
}

.mfw-header .dropdown-menu .num {
    position: absolute;
    right: 30px;
    top: 9px;
    height: 16px;
    background-color: #ff9d00;
    border-radius: 8px;
    padding: 0 5px;
    line-height: 16px;
    color: #fff;
    font-size: 12px
}

.mfw-header .dropdown-msg {
    z-index: 2
}

.mfw-header .close-newmsg {
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 5px;
    padding: 3px;
    height: 10px;
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
    line-height: 10px
}

.mfw-header .close-newmsg:hover {
    color: #ff9d00
}

.mfw-header .user-info {
    background-color: #ff9d00;
    padding: 0 0 0 20px;
    height: 50px;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    margin: -1px -1px 10px
}

.mfw-header .user-info a {
    color: #fff
}

.mfw-header .user-info .level {
    margin-right: 25px;
    font-size: 16px
}

.mfw-header .dropdown-user li .level {
    margin-left: 10px;
    font-size: 14px;
    color: #ef523d;
    font-weight: bold
}

.mfw-header .user-info .treasure {
    display: block;
    font-size: 14px
}

.mfw-header .user-info .treasure a {
    color: #fff
}

.mfw-header .dropdown-user li a {
    padding-left: 53px
}

.mfw-header .dropdown-user [class|="icon"] {
    position: absolute;
    left: 23px;
    top: 10px;
    width: 16px;
    height: 16px;
}

.mfw-header .dropdown-user .icon-wo {
    height: 17px;
    background-position: -90px -50px !important
}

.mfw-header .dropdown-user .icon-writenotes {
    background-position: -120px -50px !important
}

.mfw-header .dropdown-user .icon-ordernotes {
    background-position: -150px -110px !important
}

.mfw-header .dropdown-user .icon-path {
    background-position: -150px -50px !important
}

.mfw-header .dropdown-user .icon-wenda {
    background-position: -180px -50px !important
}

.mfw-header .dropdown-user .icon-friend {
    background-position: -90px -80px !important
}

.mfw-header .dropdown-user .icon-collect {
    height: 17px;
    background-position: -120px -80px !important
}

.mfw-header .dropdown-user .icon-order {
    background-position: -150px -80px !important
}

.mfw-header .dropdown-user .icon-coupon {
    background-position: -180px -80px !important
}

.mfw-header .dropdown-user .icon-settings {
    width: 18px;
    height: 18px;
    background-position: -90px -110px !important
}

.mfw-header .dropdown-user .icon-logout {
    background-position: -120px -110px !important
}

.mfw-header .dropdown-user .icon-route {
    background-position: -180px -110px !important
}

.mfw-header .dropdown-panel {
    position: absolute;
    right: 0;
    top: -1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    z-index: 10;
    width: 1000px;
    height: 300px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .95)
}

.mfw-header .i-hot, .mfw-header .i-new, .mtag-warn {
    position: absolute;
    margin: 3px 0 0 8px;
    height: 14px;
    background-color: #f46240;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 0 4px 0 3px;
    font-style: normal
}

.mfw-header .i-hot:after, .mfw-header .i-new:after, .mtag-warn:after {
    content: '';
    position: absolute;
    left: -7px;
    top: 0;
    width: 0;
    height: 0;
    border-right: 7px solid #f46240;
    border-top: 7px solid transparent;
    border-bottom: 7px dashed transparent;
    overflow: hidden;
    line-height: 0
}

.mfw-header .i-new {
    background-color: #1ec896
}

.mfw-header .i-new:after {
    border-right: 7px solid #1ec896
}

.dropdown-panel .panel-wrapper {
    padding: 20px 0 0 395px;
    height: 260px;
    overflow: hidden
}

.dropdown-panel ul {
    float: left;
    padding-left: 17px;
    width: 120px
}

.dropdown-panel li {
    float: none;
    height: 75px;
    line-height: 32px;
    font-size: 16px
}

.dropdown-panel li a {
    color: #333
}

.dropdown-panel .panel-wrapper .h a {
    color: #ff9d00 !important
}

.dropdown-panel li a:hover {
    color: #ff9d00
}

.dropdown-panel .nav-list-sub {
    padding-left: 25px
}

.dropdown-panel .nav-list-sub li {
    height: 32px;
    font-size: 14px
}

.dropdown-sales li {
    height: 42px
}

.dropdown-panel.no-image {
    width: 300px;
    left: auto
}

.head-nav-dropdown .dropdown-panel.no-image {
    width: 300px;
    left: auto
}

.dropdown-panel.no-image .panel-wrapper {
    padding-left: 0
}

.head-nav-dropdown .dropdown-panel.no-image .panel-wrapper {
    padding-left: 0
}

.dropdown-panel.no-image .panel-image {
    display: none
}

.dropdown-panel .panel-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 370px;
    height: 300px
}

.dropdown-panel .panel-image a {
    position: absolute;
    width: 420px;
    height: 300px !important;
    right: 0;
    top: 0;
    overflow: visible
}





.head-nav-dropdown {
    position: relative;
    line-height: 64px;
    border-top: 2px solid transparent
}

.head-nav-dropdown .dropdown-menu {
    top: auto;
    right: auto
}

.head-nav-dropdown .drop-toggle {
    padding: 0 18px 2px;
    margin-bottom: -1px;
    cursor: default;
    height: auto !important
}

.head-nav-dropdown.head-nav-hover .drop-toggle {
    padding: 0 17px 2px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    background-color: #fff;
    position: relative;
    z-index: 2;
    color: #ff9d00
}

.head-nav-dropdown.head-nav-hover {
    border-top-color: #ff9d00
}

.head-nav-dropdown .dropdown-menu {
    width: 140px;
    border-color: #eaeaea;
    display: none;
    z-index: 1
}

.head-nav-dropdown.head-nav-hover .dropdown-menu {
    display: block
}

.head-nav-dropdown.head-nav-hover .dropdown-menu.dropdown-sales {
    display: none
}

.head-nav-dropdown .dropdown-menu li {
    float: none;
    height: 40px;
    line-height: 40px
}

.head-nav-dropdown .dropdown-menu li a {
    border: 0;
    display: block;
    height: 40px;
    line-height: 40px
}

.head-nav-dropdown .dropdown-menu a:hover {
    border: 0;
    height: 40px
}

.head-nav-dropdown .dropdown-menu .on {
    background-color: #ff9d00 !important;
    color: #fff !important
}

.head-nav-dropdown .icon-caret-down {
    margin: 0 -5px 0 3px;
    border-top-color: #666;
    vertical-align: middle;
    transition: transform .5s ease-in-out 0s
}

.head-nav-dropdown.head-nav-hover .icon-caret-down {
    -moz-transform: rotate(180deg);
    border-top-color: #ff9d00
}

.head-nav-dropdown.head-nav-active.head-nav-hover .icon-caret-down {
    border-top-color: #fff
}

.head-nav-dropdown.head-nav-active {
    border-top-color: #ff9d00;
    background-color: #ff9d00
}

.head-nav-dropdown.head-nav-active .drop-toggle {
    margin-bottom: -1px
}

.head-nav-dropdown.head-nav-active.head-nav-hover .drop-toggle {
    border: 0;
    padding: 0 18px;
    background: 0;
    color: #fff
}

.head-nav-active .drop-toggle {
    background-color: #ff9d00;
    color: #fff
}

.head-nav-active .icon-caret-down {
    border-top-color: #fff
}

.head-nav-active .dropdown-menu li a {
    background: 0;
    color: #333 !important
}

.head-nav-dropdown .i-hot, .head-nav-dropdown .i-new {
    margin-top: 12px;
    *margin-top: 0
}

.head-nav-dropdown .dropdown-panel {
    border-top: 1px solid #eaeaea;
    width: 695px;
    left: -395px;
    right: auto;
    top: auto;
    z-index: 1
}

.head-nav-dropdown .dropdown-panel a {
    border: 0;
    height: auto;
    display: inline;
    color: #666;
    padding: 0
}

.head-nav-dropdown .dropdown-panel a:hover {
    border: none !important;
    height: auto
}

.head-nav-active .dropdown-panel a {
    background: 0;
    color: #666 !important
}

.head-nav-active .dropdown-panel a:hover {
    color: #ff9d00 !important
}

.head-nav-dropdown .dropdown-panel a:hover {
    color: #ff9d00
}

.head-nav-dropdown .dropdown-panel .i-hot, .head-nav-dropdown .dropdown-panel .i-new {
    margin-top: 8px
}

.dropdown-bar {
    width: 100%;
    height: 39px;
    text-align: center;
    line-height: 40px;
    font-size: 14px
}

.dropdown-bar .content {
    width: 1000px;
    margin: 0 auto
}

.dropdown-bar .ul-dropdown-bar {
    margin-left: 235px
}

.dropdown-bar li {
    float: left;
    display: inline;
    margin-right: 10px
}

.dropdown-bar li + li {
    margin-left: 10px
}

.dropdown-bar li + li:before {
    content: '';
    position: absolute;
    margin: 13px 0 0 -10px;
    width: 1px;
    height: 15px;
    background-color: #e0e0e0
}

.dropdown-bar li a {
    display: inline-block;
    height: 37px;
    padding: 0 6px;
    color: #666
}

.dropdown-bar li a:hover {
    text-decoration: none;
    color: #ff9d00
}

.dropdown-bar .on a {
    border-bottom: 3px solid #fc9d27;
    color: #ff9d00
}

@media (max-width: 1440px) {
    .mfw-header {
        height: 58px
    }

    .header-wrap {
        height: 58px
    }

    .head-logo {
        padding: 13px 0;
        height: 32px
    }

    .head-logo .mfw-logo {
        height: 33px;
    }

    .login-out {
        padding: 16px 0
    }

    .head-nav {
        line-height: 58px;
        font-size: 14px
    }

    .head-nav li a:hover, .head-nav .head-nav-hover a {
        height: 55px
    }

    .drop-trigger {
        height: 58px
    }

    .head-msg {
        line-height: 58px
    }

    .head-msg-new {
        top: 11px
    }

    .head-user .user-image {
        margin-top: 10px
    }

    .drop-trigger .icon-caret-down {
        top: 27px
    }

    .head-daka {
        padding-top: 18px
    }

    .head-search {
        height: 58px
    }

    .head-search-wrapper {
        padding: 14px 0 13px;
        height: 30px
    }

    .head-searchform {
        height: 30px
    }

    .head-searchform input {
        height: 28px;
        line-height: 28px
    }

    .head-search-focus {
        width: 382px
    }

    .head-search-focus .head-searchform input {
        width: 360px
    }

    .head-search .icon-search {
        top: 5px;
        right: 5px
    }

    .head-nav-dropdown {
        line-height: 54px
    }
}

.head-act-719 {
    position: absolute;
    margin: 2px 0 0 -60px;
    width: 62px;
    height: 18px;
}

.head-act-96 {
    position: absolute;
    margin: 2px 0 0 20px;
    width: 62px;
    height: 18px;
}

@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .head-logo .mfw-logo, .mfw-header .dropdown-user [class|="icon"], .searchtab i, .search-group .icon-search, .search-group .icon-cal, .login-out .weibo-login, .login-out .qq-login, .login-out .weixin-login, .head-search .icon-search {
        background-size: 200px
    }

    .mss-icon {
        background-size: 32px
    }

    .head-act-719 {
        background-size: 62px 18px
    }

    .head-act-96 {
        background-size: 62px 18px
    }
}

@media (min-resolution: 1.25dppx) and (max-width: 1440px),(-webkit-min-device-pixel-ratio: 1.25) and (max-width: 1440px),(min-device-pixel-ratio: 1.25) and (max-width: 1440px) {
    .head-logo .mfw-logo {
        height: 33px;
        background-size: 125px
    }
}

.icoNew {
    position: absolute;
    width: 26px;
    height: 11px;
    overflow: hidden
}

.ub-coin {
    position: relative
}

.new_daka_tips {
    width: 176px;
    height: 134px;
    position: absolute;
    z-index: 200;
    margin-top: -200px;
    right: -12px
}

.new_daka_tips.on {
    -webkit-animation: jumpping 1.5s linear .3s 1 forwards;
    margin-top: 5px
}

@-webkit-keyframes jumpping {
    0% {
        margin-top: -200px
    }
    45% {
        margin-top: 30px
    }
    60% {
        margin-top: 0
    }
    74% {
        margin-top: 20px
    }
    82% {
        margin-top: 0
    }
    92% {
        margin-top: 10px
    }
    100% {
        margin-top: 5px
    }
}

.new_daka_tips .ndt_close {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 58px;
    background-color: transparent;
    _background: 0
}

.s-hongbao {
    position: absolute;
    right: 30px;
    top: -56px
}

.s-hongbao .hb1 {
    width: 244px;
    height: 104px;
}

.s-hongbao .hb1 a {
    display: block;
    width: 100%;
    height: 100%
}

.s-hongbao .hb2 {
    width: 124px;
    height: 24px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .s-hongbao .hb1 {
        background-size: 100% 100%
    }

    .s-hongbao .hb2 {
        background-size: 100% 100%
    }
}

.head-hb {
    width: 70px;
    height: 78px;
    position: absolute;
    right: 210px;
    top: 0
}

.head-hb a {
    display: block;
    width: 100%;
    height: 100%;
}

.head-hb a:hover {
    background-position: 0 -78px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .head-hb a {
        background-size: 100% 200%
    }

    .head-hb a:hover {
        background-position: 0 -78px
    }
}

.head-act {
    display: none
}

.has-nav-expand {
    padding-top: 55px !important
}

.pop-summer-hb {
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.ps-hb-content {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -220px 0 0 -154px;
    width: 308px;
    height: 441px;
    text-align: center
}



.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 25px 0;
    font-size: 14px;
    color: #666;
}

.aside {
    width: 220px;
    float: left;
}

.content {
    width: 740px;
    min-height: 480px;
    float: right;
    background: #fff;
}

.cssradio {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.cssradio input[type=radio] {
    position: absolute;
    opacity: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    top: 1px;
    left: 1px;
}

.cssradio span {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #ffa800;
}

.cssradio span:after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.cssradio input:checked + span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #ffa800;
}

.alert {
    padding: 15px 35px 15px 15px;
    color: #fff;
    border: 1px solid transparent;
    margin-bottom: 20px;
    border-radius: 3px;
}

.alert .close {
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    position: relative;
    top: -8px;
    right: -22px;
    color: #000;
    opacity: .25;
    background: 0 0;
    border: 0;
    padding: 0;
}

.alert .close:hover {
    opacity: .5;
}

.alert-success {
    border-color: #d6e9c6;
    background-color: #dff0d8;
    color: #468847;
}

.alert-error {
    border-color: #eed3d7;
    background-color: #f2dede;
    color: #b94a48;
}

.alert-notice {
    border-color: #faebcc;
    background-color: #fcf8e3;
    color: #8a6d3b;
}

/* Aside */
.aside a {
    display: block;
    line-height: 46px;
    font-size: 14px;
    color: #666;
    border-radius: 3px;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
}

.aside a:hover {
    background-color: #f0f0f0;
    text-decoration: none;
}

.aside a.on {
    background-color: #ffa800;
    color: #fff;
}

.aside a.on:hover {
    text-decoration: none;
}

.aside a span.ripple {
    display: block;
    position: absolute;
    background: rgba(102, 102, 102, .3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    width: 201px;
    height: 201px;
}

.aside a span.ripple.animate {
    -webkit-animation: ripple 1s ease-out;
    animation: ripple 1s ease-out;
}

.aside i {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0 10px 0 24px;
    vertical-align: middle;
}

.aside .i1 {
    background-position: 0 0;
}

.aside a.on .i1 {
    background-position: -22px 0;
}

.aside .i2 {
    background-position: 0 -22px;
}

.aside a.on .i2 {
    background-position: -22px -22px;
}

.aside .i3 {
    background-position: 0 -44px;
}

.aside a.on .i3 {
    background-position: -22px -44px;
}

.aside .i4 {
    background-position: 0 -66px;
}

.aside a.on .i4 {
    background-position: -22px -66px;
}

.aside .i5 {
    background-position: 0 -88px;
}

.aside a.on .i5 {
    background-position: -22px -88px;
}

.aside .i6 {
    background-position: 0 -110px;
}

.aside a.on .i6 {
    background-position: -22px -110px;
}

.aside .i7 {
    background-position: 0 -132px;
}

.aside a.on .i7 {
    background-position: -22px -132px;
}

.aside .i8 {
    background-position: 0 -154px;
}

.aside a.on .i8 {
    background-position: -22px -154px;
}

.aside .i9 {
    background-position: 0 -176px;
}

.aside a.on .i9 {
    background-position: -22px -176px;
}

.aside .i10 {
    background-position: 0 -198px;
}

.aside a.on .i10 {
    background-position: -22px -198px;
}



@keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3)
    }
}

/* Content */
.content .hd {
    padding-bottom: 18px;
    margin: 0 0 20px 0;
    *position: relative;
    border-bottom: 1px solid #eee;
}

.content .hd strong {
    font-size: 24px;
    color: #444;
    font-weight: normal;
}

.content .hd span {
    margin-left: 18px;
    font-size: 14px;
    color: #999;
}

.content .hd .progress {
    width: 110px;
    height: 16px;
    display: inline-block;
    background-color: #bddf7d;
    margin-left: 8px;
    position: relative;
    vertical-align: middle;
    *position: absolute;
    *left: 200px;
    *top: 10px;
}

.content .hd .progress .on {
    background-color: #add75c;
    height: 16px;
}

.content .hd .progress .num {
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 3px;
    line-height: 16px;
}

.content dl {
    clear: both;
    padding-bottom: 15px;
}

.content dt {
    width: 85px;
    float: left;
    padding: 6px 10px 0 0;
    text-align: right;
    color: #a1a1a1;
    font-size: 16px;
}

.content dd {
    width: 490px;
    float: left;
}

.content dd label {
    padding-right: 20px;
    line-height: 32px;
    float: left;
    cursor: pointer;
}

.content dd label .cssradio {
    float: left;
    margin: 6px 6px 0 0;
}

.content dd input[type=text], .content dd input[type=password] {
    width: 208px;
    border: 1px solid #d3d3d3;
    height: 18px;
    padding: 6px 8px;
    line-height: 18px;
    font-size: 14px;
    color: #999;
    outline: none;
    transition: box-shadow 0.25s linear 0s;
    border-radius: 3px;
}

.content dd input[type=text]:focus, .content dd input[type=password]:focus {
    border: 1px solid #ffa800;
    transition: box-shadow 0.25s linear 0s;
    box-shadow: 0 0 5px #ffa200;
}

.content i.radio {
    width: 18px;
    height: 19px;
    display: inline-block;
    float: left;
}

.content i.radio.on {
    background-position: -54px 0;
}

.content i.checkbox {
    width: 18px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

.content i.checkbox.on {
    background-position: -18px 0;
}

.content .input-group {
    position: relative;
}

.content .input-group .input-suggest {
    position: absolute;
    z-index: 99;
    width: 218px;
    border: 1px solid #dfdede;
    background: #fff;
    line-height: 24px;
    font-size: 12px;
    left: 3px;
    top: 31px;
    display: none;
}

.content .input-group .input-suggest li a {
    padding: 5px 7px;
    display: block;
    height: 24px;
    color: #999;
    overflow: hidden;
}

.content .input-group .input-suggest li a:hover {
    background: #efefef;
    text-decoration: none;
    color: #ffa800;
}

.content .input-group .input-suggest i {
    float: left;
    margin-right: 9px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.content .input-group .input-suggest i.place {
    background-position: 0 0;
}

.content .input-group .input-suggest em {
    padding-left: 10px;
    font-style: normal;
}

.content dl.error dt {
    color: #ff3c00;
}

.content dl.error dd input[type=text] {
    border-color: #ff3c00;
}

.content dl.error dd label {
    color: #ff3c00;
}

/* UserInfo */
.userinfo dd i.radio {
    margin: 6px 6px 0 0;
}

.userinfo dd i.m_l_15 {
    margin-left: 15px;
}

.userinfo dd textarea {
    width: 472px;
    height: 110px;
    border: 1px solid #d3d3d3;
    padding: 6px 8px;
    line-height: 1.6em;
    font-size: 14px;
    color: #999;
    outline: none;
    transition: box-shadow 0.25s linear 0s;
    border-radius: 3px;
    resize: none;
}

.userinfo dd textarea:focus {
    border: 1px solid #ffa800;
    transition: box-shadow 0.25s linear 0s;
    box-shadow: 0 0 5px #ffa200;
}

.userinfo dd a {
    color: #ffa800;
}

.userinfo dd #add-address {
    padding-top: 8px;
    display: none;
}

.userinfo dd.item-list {
    position: relative;
}

.userinfo dd.item-list i {
    width: 24px;
    height: 26px;
    display: block;
    position: absolute;
    top: 1px;
}

.userinfo dd.item-list i.on {
    background-position: -90px 4px;
}

.userinfo dd.item-list i.citys {
    left: 88px;
}

.userinfo dd.item-list i.dists {
    left: 262px;
}

.userinfo dd.item-list i.countys {
    left: 440px;
}

.userinfo dd.item-list .citys-li {
    width: 111px;
    border: 1px solid #ffc65a;
    background-color: #fff;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 2;
    max-height: 168px;
    overflow: hidden;
    overflow-y: auto;
    display: none;
}

.userinfo dd.item-list .dists-li {
    width: 160px;
    border: 1px solid #ffc65a;
    background-color: #fff;
    position: absolute;
    top: 27px;
    left: 127px;
    z-index: 2;
    max-height: 168px;
    overflow: hidden;
    overflow-y: auto;
    display: none;
}

.userinfo dd.item-list .countys-li {
    width: 160px;
    border: 1px solid #ffc65a;
    background-color: #fff;
    position: absolute;
    top: 27px;
    left: 305px;
    z-index: 2;
    max-height: 168px;
    overflow: hidden;
    overflow-y: auto;
    display: none;
}

.userinfo dd.item-list .citys-li a, .userinfo dd.item-list .dists-li a, .userinfo dd.item-list .countys-li a {
    font-size: 12px;
    color: #666;
    line-height: 28px;
    display: block;
    padding-left: 10px;
}

.userinfo dd.item-list .citys-li a:hover, .userinfo dd.item-list .dists-li a:hover, .userinfo dd.item-list .countys-li a:hover {
    background-color: #efefef;
    text-decoration: none;
}

.userinfo dd.item-info {
    display: inline-block;
    width: 88px;
    text-align: left;
    font-size: 14px;
    vertical-align: top;
    padding-top: 4px;
    float: left;
}

.userinfo dd .textarea-address {
    width: 268px;
}

.userinfo .tips {
    font-size: 12px;
    color: #999;
    line-height: 1.8em;
    background-color: #f6f6f6;
    width: 345px;
    padding: 15px 20px;
}

.userinfo .tips .title {
    font-size: 14px;
    color: #999;
    padding-bottom: 5px;
}

.userinfo .tips .title b {
    color: #ffa800;
    font-weight: normal;
    font-size: 12px;
    vertical-align: text-top;
}

.userinfo .set-first {
    padding: 10px 0 0;
    font-size: 12px;
}

.userinfo .set-first .radio {
    margin-top: 0;
}

.userinfo .btn-sub {
    padding: 10px 0;
    width: 490px;
    float: right;
}

.userinfo .btn-sub button {
    width: 112px;
    height: 36px;
    display: block;
    line-height: 36px;
    background-color: #ffa800;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.userinfo .btn-sub button:hover {
    background-color: #ff8a00;
}

.userinfo .btn-sub {
    padding: 10px 0;
}

.userinfo .btn-sub a {
    width: 92px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
}

.userinfo .btn-sub a:hover {
    text-decoration: none;
}

.userinfo .btn-sub a.btn1 {
    background-color: #ffa800;
    margin-left: 20px;
}

.userinfo .btn-sub a.btn1:hover {
    background-color: #ff8a00;
}

.userinfo .btn-sub a.btn2 {
    background-color: #eee;
    color: #999;
}

.userinfo .btn-sub a.btn2:hover {
    background-color: #ff8a00;
    color: #fff;
}


.userinfo dd.myaddress .address {
    padding: 0;
}

.userinfo dd.myaddress .address li {
    width: 448px;
    background: #fafafa;
    box-shadow: none;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    margin: 0;
}

.userinfo dl.error dd textarea {
    border-color: #ff3c00;
}



/* UserLogo */
.userlogo .hd {
    padding-bottom: 6px;
    border-bottom: 2px solid #efefef;
}

.userlogo .avatar {
    width: 120px;
    height: 120px;
    padding: 30px 0 20px;
    position: relative;
}

.userlogo .avatar .progress {
    width: 120px;
    height: 120px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 20px;
    left: 0;
}

.userlogo .avatar .progress .bar {
    width: 120px;
    height: 16px;
    display: block;
    background-color: #95b44b;
    position: absolute;
    bottom: 0;
    left: 0;
}

.userlogo .avatar .progress .on {
    background-color: #add75c;
    height: 16px;
}

.userlogo .avatar .progress .num {
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 3px;
    line-height: 16px;
}

.userlogo .btn-sub {
    position: relative;
    font-size: 12px;
    margin-bottom: 10px;
}

.userlogo .btn-sub .btn-upload {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    opacity: 0;
    width: 112px;
    height: 36px;
    cursor: pointer;
}

.userlogo .btn-sub .btn {
    width: 120px;
    height: 36px;
    line-height: 36px;
    background-color: #ffa800;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
    cursor: pointer;
}

.userlogo .btn-sub .btn.disable {
    background-color: #eee;
    color: #fff;
    cursor: default;
}

.userlogo .editor {
    padding-top: 30px;
    position: relative;
    display: none;
}

.userlogo .editor .preview {
    float: right;
    width: 180px;
}

.userlogo .editor .plan {
    float: left;
}

.userlogo .editor .plan, .userlogo .editor .plan img {
    width: 330px;
}

.userlogo .editor .btns {
    padding: 20px 0;
}

.userlogo .editor .btns a {
    width: 92px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
}

.userlogo .editor .btns a:hover {
    text-decoration: none;
}

.userlogo .editor .btns a.btn1 {
    background-color: #ffa800;
}

.userlogo .editor .btns a.btn1:hover {
    background-color: #ff8a00;
}

.userlogo .editor .btns a.btn2 {
    background-color: #eee;
    color: #999;
    margin-left: 20px;
}

.userlogo .editor .btns a.btn2:hover {
    background-color: #ccc;
    color: #fff;
}

.userlogo .editor .btns a.disable, .userlogo .editor .btns a.disable:hover {
    background-color: #eee;
    color: #fff;
    cursor: default;
}

.userlogo .preview p {
    font-size: 14px;
    padding: 0 0 10px;
}

.userlogo .preview dl {
    line-height: 1.6em;
    padding: 0;
}

.userlogo .preview dt {
    float: none;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.userlogo .preview dt img {
    float: left;
    width: 100%;
    height: 100%;
}

.userlogo .preview dl.large dt {
    width: 120px;
    height: 120px;
}

.userlogo .preview dl.normal dt {
    width: 48px;
    height: 48px;
}

.userlogo .preview dl.small dt {
    width: 16px;
    height: 16px;
}

.userlogo .preview dd {
    height: 30px;
    font-size: 12px;
    color: #666;
    float: none;
}

.hide{
	display: none;
}

.the_background{
	color: #ffffff;
	background: #ff8000;
}

.the_backgrounds{
	color: #000000;
	background: #ffffff;
}

.the_img{
	position: absolute;
	z-index: 1200;
}



