
.header{
    z-index: 200;
    height: 46px;
    width: 100%;
    background-color: rgba(34, 35, 36, 0.95);
    background-color: #2d2e2f \9;
    position: fixed;
    top: 0;
    left: 0;
    clear: both;
    font-family: "Microsoft Yahei"
}

input, select, textarea, button {
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", "PingFang SC", STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti
}


ul, ol, li, dl, dd, dt {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    color: #ff9d00;
    text-decoration: none;
    cursor: pointer
}

a:hover {
    color: #ff8a00;
    text-decoration: underline
}

td {
    font-size: 12px;
    color: #666
}

img {
    border: 0;
    vertical-align: middle
}

.topBarC{
    width: 1015px;
    margin: 0 auto;
    height: 46px
}

.topBarC .logo {
    float: left;
    width: 32px;
    display: inline;
    margin: 9px 20px 0 0
}

.topBarC .logo a {
    display: inline-block;
    height: 29px;
    width: 32px;
    background: url(../img/question/logo.png) 0 0 no-repeat;
    text-indent: -9999px;
    *text-indent: 0;
    *line-height: 200px;
    overflow: hidden;
    vertical-align: top
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .topBarC .logo a {
        background: url(../img/question/twice_logo.png);
        background-size: 32px 29px
    }
}



.topBarC .t b{
    position: absolute;
    right: 12px;
    top: 22px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid dashed dashed dashed;
    border-color: #999 transparent transparent transparent
}


.t_nav {
    float: left
}

.t_nav li {
    float: left;
    height: 46px;
    margin-right: 1px;
    position: relative;
    z-index: 1;
    zoom: 1
}

.t_nav li .t {
    font-size: 16px;
    color: #fff;
    font-weight: normal
}

.t_nav li.drop .t a {
    padding-right: 25px
}

.t_nav li .c {
    position: absolute;
    left: 0;
    top: 46px;
    width: 110px;
    background-color: #222;
    display: none;
    opacity: .9;
    filter: alpha(opacity=90);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4)
}




.t_nav li.on .c {
    display: block
}

.t_nav li:hover .c, .t_nav li.hover .c {
    display: block
}

.t_nav li .c a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    height: 15px;
    line-height: 15px
}

.t_nav li .c a:hover {
    background-color: #000
}

.t_search {
    float: left;
    margin: 10px 0 0 20px;
    width: 140px;
    height: 26px;
    background-color: #4a4b4c;
    overflow: hidden;
    position: relative
}

form {
    margin: 0;
    padding: 0
}

.t_search .key {
    float: left;
    width: 112px;
    height: 26px;
    margin: 0;
    padding: 0 30px 0 8px;
    border: 0 none;
    background: 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px
}

.t_search .btn {
    position: absolute;
    right: 9px;
    top: 5px;
    border: 0 none;
    width: 16px;
    height: 16px;
    background: url(../img/question/topbar-bg.png) 0 -34px;
    background: url(../img/question/topBar-bg_ie6.gif) 0 -34px;
    padding: 0;
    cursor: pointer
}


.t_nav li .t a{
    float: left;
    display: block;
    height: 16px;
    padding: 15px 17px;
    color: #fff;
    line-height: 16px;
    line-height: 19px \9;
    overflow: hidden
}

.t_nav li .t a:hover, .t_nav li:hover .t a, .t_nav li.hover .t a
{
    background-color: #000
}





.t_info {
    float: left;
    color: #fff;
    width: 200px;
    vertical-align: top
}


.t_info .user_info {
    height: 46px;
    float: right
}

.t_info .user_info li {
    float: left;
    margin-left: 1px;
    font-size: 12px;
}


.t_info .user_info li.daka {
    position: relative;
    margin-top: 11px;
    margin-left: 0px;
    width: 60px
}

.daka_btn a {
    width: 100%;
    height: 24px;
    background-color: #1493e3;
    display: block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 4px;
    cursor: pointer
}

.daka_complete a {
    background-color: #ff9d00;
    font-size: 12px
}

.daka_complete a:hover {
    background-color: #ff8a00
}

.daka_btn .daka_after, .daka_complete .daka_before {
    display: none
}

.daka_complete .daka_after {
    display: inline-block
}


.daka_tips {
    width: 166px;
    height: 134px;
    background-image: url(../img/question/tips_v3.png);
    position: absolute;
    z-index: 200;
    margin-top: -200px;
    margin-left: -100px
}

.daka_tips .on {
    -webkit-animation: jumpping 1.5s linear 0s 1 forwards;
    margin-top: 0
}


.header .new {
    color: #F30
}


.daka_btn {
    display: block;
    width: 100%
}

.t_nav li .t a:hover, .user_info .infoItem:hover, .t_nav li:hover .t a, .t_nav li.hover .t a, .user_info .account:hover .infoItem, .user_info .account.hover .infoItem, .user_info .msg:hover .infoItem {
    background-color: #000
}



.t_info li.on .c {
    display: block
}

.t_info li:hover .c, .t_nav li.hover .c {
    display: block
}

.t_info li .c a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    height: 15px;
    line-height: 15px
}

.t_info li .c a:hover {
    background-color: #000
}



.t_info li .t a{
    float: left;
    display: block;
    height: 16px;
    padding: 15px 17px;
    color: #fff;
    line-height: 16px;
    line-height: 19px \9;
    overflow: hidden
}

.t_info li .t a:hover, .t_info li:hover .t a, .t_info li.hover .t a
{
    background-color: #000
}





.t_info .c {
    position: absolute;
    left: 0;
    top: 46px;
    width: 110px;
    background-color: #222;
    display: none;
    opacity: .9;
    filter: alpha(opacity=90);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4)
}

.t_info a {
    color: #fff
}


.t_info .user_info .infoItem {
    padding-left: 12px;
    padding-right: 25px;
    font-size: 16px
}

.t_info .user_info .infoItem:hover {
    color: #fff
}

.t_info .user_info em {
    font-style: normal
}

.t_info .user_info .name img {
    float: left;
    margin: 1px 5px 0 0
}



.t_info .user_info .name em {
    float: left
}

.t_info .msg {
    position: relative
}

.t_info .msg span {
    display: inline-block
}

.t_info .msg a {
    padding-right: 20px
}

.t_info .account {
    position: relative;
    z-index: 10
}

.t_info .account .t a {
    padding-right: 25px;
    padding: 7px 22px 7px 10px;
    height: auto
}

.t_info .account .t a img {
    float: left;
    margin: 0;
    border-radius: 32px
}

.t_info .account .t a b {
    right: 9px
}




.uSet {
    position: absolute;
    right: 0;
    top: 46px;
    width: 130px;
    background-color: #222;
    opacity: .9;
    filter: alpha(opacity=90);
    padding: 5px 0 10px;
    display: none
}

.t_info li .on .uSet {
    display: block
}

.t_info li .on .uSet a {
    display: block;
    text-align: left;
    padding: 7px 10px;
    height: 15px;
    color: #FFF;
    opacity: .9
}

.t_info li .on .uSet a:hover {
    background-color: #000;
    text-decoration: none
}

.t_info li .on .uSet a.containNum {
    padding: 4px 10px
}

.t_info li .on .uSet a.containNum span {
    font-size: 14px;
    color: #fc9c27;
    font-family: Arial
}

.t_info li .on .uSet a.hasLine {
    position: relative;
    margin-bottom: 10px
}

.t_info li .on .uSet a.hasLine:after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    height: 1px;
    bottom: -6px;
    background-color: #121212
}
.header .new {
    color: #F30
}

.t_info .user_info .drop-bd {
    position: absolute;
    right: 0;
    width: 130px;
    top: 46px;
    background-color: #222;
    opacity: .9;
    filter: alpha(opacity=90);
    padding-bottom: 5px;
    display: none;
}



.t_info .user_info .drop-bd {
    position: absolute;
    right: 0;
    width: 130px;
    top: 46px;
    background-color: #222;
    opacity: .9;
    filter: alpha(opacity=90);
    padding-bottom: 5px;
    display: none;
}

.t_info .user_info li.on .drop-bd {
    display: block
}

.t_info .user_info .drop-bd li {
    height: 29px;
    float: none;
    margin: 0;
    display: block
}

.t_info .user_info .drop-bd li a {
    padding: 0 10px;
    height: 29px;
    line-height: 29px;
    display: block;
    color: #fff;
    opacity: .9
}

.t_info .user_info .drop-bd li a:hover {
    background-color: #000;
    text-decoration: none
}

.t_info .user_info .drop-bd li.new-msg-li a {
    color: #d62d00
}

.t_info .user_info .drop-bd li.new-msg-line {
    display: none
}

.t_info .user_info .ub-new-msg {
    margin: 0;
    width: 0;
    height: 0;
    position: relative;
}


.t_info .user_info .new-msg-tips {
    position: absolute;
    left: -130px;
    top: 46px;
    width: 130px;
    background-color: #222;
    opacity: .9;
    filter: alpha(opacity=90);
    padding: 0 0 5px
}

.t_info .user_info .new-msg-tips p {
    height: 29px
}

.t_info .user_info .new-msg-tips p a {
    padding: 0 10px;
    height: 29px;
    line-height: 29px;
    display: block;
    color: #d62d00;
    opacity: .9
}

.t_info .user_info .new-msg-tips p a:hover {
    background-color: #000;
    text-decoration: none
}

.t_info .user_info .new-msg-tips .new-msg-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background: url(../img/question/btn_close.gif) no-repeat center center;
    overflow: hidden;
    cursor: pointer;
}



.t_info .user_info .infoItem {
    padding-left: 12px;
    padding-right: 25px;
    font-size: 16px
}

.no_login {
    float: right;
    padding: 10px 0;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    font-size: 14px
}

.no_login span {
    float: left
}

.no_login a {
    color: #ff8a00
}

.no_login .login-qq, .no_login .login-weibo, .no_login .login-renren {
    float: left;
    display: inline-block;
    margin-left: 8px;
    width: 26px;
    height: 26px;
    background: url(../img/question/topbar-bg.png) no-repeat
}



.header .new {
    color: #F30
}



.t_info .user_info .drop-bd li a:hover {
    background-color: #000;
    text-decoration: none
}

#ttt{
    margin-top: 8px;
}


