<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.qd.travel.dao.MDAreaMapper">
  <resultMap id="BaseResultMap" type="com.cn.qd.travel.entity.MDArea">
    <id column="MD_AREA_ID" jdbcType="VARCHAR" property="mdAreaId" />
    <result column="MD_REF_ID" jdbcType="VARCHAR" property="mdRefId" />
    <result column="MD_CREATE_TIME" jdbcType="DATE" property="mdCreateTime" />
    <result column="MD_ALERT_DATE" jdbcType="DATE" property="mdAlertDate" />
    <result column="MD_ALERT_USER" jdbcType="VARCHAR" property="mdAlertUser" />
    <result column="MD_STDNAME" jdbcType="VARCHAR" property="mdStdname" />
    <result column="MD_STDCODE" jdbcType="DECIMAL" property="mdStdcode" />
    <result column="MD_LEVEL" jdbcType="DECIMAL" property="mdLevel" />
    <result column="AREA_LV" jdbcType="VARCHAR" property="areaLv" />
  </resultMap>
  <sql id="Base_Column_List">
    MD_AREA_ID, MD_REF_ID, MD_CREATE_TIME, MD_ALERT_DATE, MD_ALERT_USER, MD_STDNAME, 
    MD_STDCODE, MD_LEVEL,AREA_LV
  </sql>
  
  <!--查询数据-->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MD_AREA
    where MD_AREA_ID = #{mdAreaId,jdbcType=VARCHAR}
  </select>
  
    <!--查询数据通过名字-->
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MD_AREA
    where MD_STDNAME = #{parentName,jdbcType=VARCHAR} order by  MD_CREATE_TIME ASC
  </select>
  
  
    <!--通过父节点查询数据-->
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from MD_AREA
    where MD_REF_ID = #{id,jdbcType=VARCHAR} order by  MD_CREATE_TIME ASC
  </select>
  
  
  <!--删除数据-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from MD_AREA
    where MD_AREA_ID = #{mdAreaId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cn.qd.travel.entity.MDArea">
    insert into MD_AREA (MD_AREA_ID, MD_REF_ID, MD_CREATE_TIME, 
      MD_ALERT_DATE, MD_ALERT_USER, MD_STDNAME, 
      MD_STDCODE, MD_LEVEL)
    values (#{mdAreaId,jdbcType=VARCHAR}, #{mdRefId,jdbcType=VARCHAR}, #{mdCreateTime,jdbcType=DATE}, 
      #{mdAlertDate,jdbcType=DATE}, #{mdAlertUser,jdbcType=VARCHAR}, #{mdStdname,jdbcType=VARCHAR}, 
      #{mdStdcode,jdbcType=DECIMAL}, #{mdLevel,jdbcType=DECIMAL})
  </insert>
  
  <!--添加地址-->
  <insert id="insertSelective" parameterType="com.cn.qd.travel.entity.MDArea">
    insert into MD_AREA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mdAreaId != null">
        MD_AREA_ID,
      </if>
       <if test="areaLv != null">
        AREA_LV,
      </if>
      <if test="mdRefId != null">
        MD_REF_ID,
      </if>
      <if test="mdCreateTime != null">
        MD_CREATE_TIME,
      </if>
      <if test="mdAlertDate != null">
        MD_ALERT_DATE,
      </if>
      <if test="mdAlertUser != null">
        MD_ALERT_USER,
      </if>
      <if test="mdStdname != null">
        MD_STDNAME,
      </if>
      <if test="mdStdcode != null">
        MD_STDCODE,
      </if>
      <if test="mdLevel != null">
        MD_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mdAreaId != null">
        #{mdAreaId,jdbcType=VARCHAR},
      </if>
      <if test="areaLv != null">
      #{areaLv,jdbcType=VARCHAR},
      </if>
      <if test="mdRefId != null">
        #{mdRefId,jdbcType=VARCHAR},
      </if>
      <if test="mdCreateTime != null">
        #{mdCreateTime,jdbcType=DATE},
      </if>
      <if test="mdAlertDate != null">
        #{mdAlertDate,jdbcType=DATE},
      </if>
      <if test="mdAlertUser != null">
        #{mdAlertUser,jdbcType=VARCHAR},
      </if>
      <if test="mdStdname != null">
        #{mdStdname,jdbcType=VARCHAR},
      </if>
      <if test="mdStdcode != null">
        #{mdStdcode,jdbcType=DECIMAL},
      </if>
      <if test="mdLevel != null">
        #{mdLevel,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <!--修改数据-->
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.qd.travel.entity.MDArea">
    update MD_AREA
    <set>
      <if test="mdRefId != null">
        MD_REF_ID = #{mdRefId,jdbcType=VARCHAR},
      </if>
       <if test="areaLv != null">
      AREA_LV= #{areaLv,jdbcType=VARCHAR},
      </if>
      <if test="mdCreateTime != null">
        MD_CREATE_TIME = #{mdCreateTime,jdbcType=DATE},
      </if>
      <if test="mdAlertDate != null">
        MD_ALERT_DATE = #{mdAlertDate,jdbcType=DATE},
      </if>
      <if test="mdAlertUser != null">
        MD_ALERT_USER = #{mdAlertUser,jdbcType=VARCHAR},
      </if>
      <if test="mdStdname != null">
        MD_STDNAME = #{mdStdname,jdbcType=VARCHAR},
      </if>
      <if test="mdStdcode != null">
        MD_STDCODE = #{mdStdcode,jdbcType=DECIMAL},
      </if>
      <if test="mdLevel != null">
        MD_LEVEL = #{mdLevel,jdbcType=DECIMAL},
      </if>
    </set>
    where MD_AREA_ID = #{mdAreaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.qd.travel.entity.MDArea">
    update MD_AREA
    set MD_REF_ID = #{mdRefId,jdbcType=VARCHAR},
      MD_CREATE_TIME = #{mdCreateTime,jdbcType=DATE},
      MD_ALERT_DATE = #{mdAlertDate,jdbcType=DATE},
      MD_ALERT_USER = #{mdAlertUser,jdbcType=VARCHAR},
      MD_STDNAME = #{mdStdname,jdbcType=VARCHAR},
      MD_STDCODE = #{mdStdcode,jdbcType=DECIMAL},
      MD_LEVEL = #{mdLevel,jdbcType=DECIMAL}
    where MD_AREA_ID = #{mdAreaId,jdbcType=VARCHAR}
  </update>
</mapper>